.social-icons {
    margin-left: 0;
    margin-right: 1rem;
    padding-top: 10px;
}

ul.d-flex {
    padding-left: 0px;
}

.s-icons {
    padding-left: 0;
}

.m-top {
    margin-top: 1rem;
}

.spacebot-fifteen {
    margin-bottom: 1rem;
}

.anchor {
    position: relative;
}

.anchor a {
    position: absolute;
    left: 0px;
    top: -160px;
  }

/*---- CSS MODAL ------*/  
.modal-window {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.25);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
    &:target {
      visibility: visible;
      opacity: 1;
      pointer-events: auto;
    }
    &>div {
      max-width: 75%;
      max-height: 400px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 2em;
      background: whitesmoke;
    }
    header {
      font-weight: bold;
    }
    h1 {
      font-size: 150%;
      margin: 0 0 15px;
    }
  }
  
  .modal-close {
    color: #aaa;
    line-height: 50px;
    font-size: 80%;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 70px;
    text-decoration: none;
    &:hover {
      color: black;
    }
  }

  .warning {
      font-weight: 700;
      color: rgb(179, 36, 36);
  }
  

  @media(max-width:400px){
    #l7 {
        display: none;
    }

    .bg-shape-5 {
        display: none;
    }

    .hero-area {
        overflow: hidden;
    }

    .navigation {
        max-width: 400px;
    }
    .modal-window {
        position: fixed;
        background-color: rgba(255, 255, 255, 0.25);
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 999;
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
        transition: all 0.3s;
        &:target {
          visibility: visible;
          opacity: 1;
          pointer-events: auto;
        }
        &>div {
          width: 340px;
          max-height: 400px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          padding: 2em;
          background: whitesmoke;
        }
        header {
          font-weight: bold;
        }
        h1 {
          font-size: 150%;
          margin: 0 0 15px;
        }
      }
      
      .modal-close {
        color: rgb(94, 92, 92);
        line-height: 50px;
        font-size: 80%;
        position: absolute;
        right: 0;
        text-align: center;
        top: 0;
        width: 70px;
        text-decoration: none;
        &:hover {
          color: black;
        }
      }

      .grid {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(10, 1fr);
        height: 40vh;
        margin: 20vh auto 0 auto;
        place-items: center;
        transform: rotate(75deg);
        width: 40vh;
      }
      .layer-bg {
        position: absolute;
        bottom: 0px;
        top: 45%;
        left: 20%;
        overflow: hidden;
      }
      .anchor a {
        position: absolute;
        left: 0px;
        top: -120px;
      }
  }