.social-icons {
    margin-left: 0;
    margin-right: 1rem;
    padding-top: 10px;
}

ul.d-flex {
    padding-left: 0px;
}

.s-icons {
    padding-left: 0;
}

.m-top {
    margin-top: 1rem;
}

.spacebot-fifteen {
    margin-bottom: 1rem;
}

// Slick slider

.slick-prev:before {
    content: "<";
    color: red;
    font-size: 30px;
  }
  
  .slick-next:before {
    content: ">";
    color: red;
    font-size: 30px;
  }